/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #4203a9, #90bafc);
    color: #fff;
    padding: 10px;
}

.calculator {
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%
}
.calculator h1 {
    font-size: 60px;
}
.calculator h1 span{
    color: #ffff76;
}
.input-box{
    margin: 40PX 0;
    padding: 35PX;
    border-radius: 10PX;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
}

.input-box input{
    flex: 1;
    margin-right:20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
}
.input-box button {
    background: #ffff76;
    padding: 14px 29px;
    border: 0;
    outline: 0;
    font-weight: 500;
    color: #333;
    cursor: pointer;
     border-radius: 5px;
}
.input-box input::-webkit-calendar-picker-indicator{
top: 0;
left: 0;
right: 0;
bottom: 0;
width: auto;
height: auto;
position: absolute;
background-position: calc(100% - 10px);
background-size: 30px;
cursor: pointer;
}

#result{
font-size: 20px;

}
#result span{
color: #ffff76;

}    
@media (max-width: 480px) {
    html, body {
        overflow-x:visible; 
    }

    .calculator h1 {
        font-size: 36px;
        text-align: center;
    }

    .input-box {
        flex-direction: column;
        padding: 20px;
        width: 100%;
    }

    .input-box input,
    .input-box button {
        width: 100%;
        margin: 10px 0;
        font-size: 16px;
    }

    #result {
        font-size: 18px;
        margin-top: 15px;
        text-align: center;
    }
}
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #4203a9, #90bafc);
    color: #fff;
    padding: 10px;
}

.calculator {
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%
}
.calculator h1 {
    font-size: 60px;
}
.calculator h1 span{
    color: #ffff76;
}
.input-box{
    margin: 40PX 0;
    padding: 35PX;
    border-radius: 10PX;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
}

.input-box input{
    flex: 1;
    margin-right:20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
}
.input-box button {
    background: #ffff76;
    padding: 14px 29px;
    border: 0;
    outline: 0;
    font-weight: 500;
    color: #333;
    cursor: pointer;
     border-radius: 5px;
}
.input-box input::-webkit-calendar-picker-indicator{
top: 0;
left: 0;
right: 0;
bottom: 0;
width: auto;
height: auto;
position: absolute;
background-position: calc(100% - 10px);
background-size: 30px;
cursor: pointer;
}

#result{
font-size: 20px;

}
#result span{
color: #ffff76;

}    
@media (max-width: 500px) {
   
.container{
    width: 100%;
    padding: 0;
    overflow: hidden;
}
    .calculator h1 {
        width: 100%;
         margin-left: -20px;
        font-size: 36px;
        text-align: center;
    }

    .input-box {
        flex-direction: column;
        overflow-x: hidden;
        margin-left: -20px;
        /* margin: auto; */
        padding: 20px;
        width: 90%;
    }

    .input-box input,
    .input-box button {
        width: 90%;
        margin: 10px 0;
        font-size: 16px;
    }

    #result {
        font-size: 18px;
        margin-top: 15px;
        text-align: center;
         margin-left: -50px;
    }
}
